<h1>Contact</h1>

<p>Just a few view helper methods</p>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "160" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "293829382983" %></p>
